@import "../block/variables";
footer {
    padding: 35px 0 32px 0;
    background-color: #333a44;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__left {
    display: flex;
    -moz-column-gap: 58.58px;
    column-gap: 58.58px;
    align-items: center;
}

.footer__left-menu {
    list-style: none;
    display: flex;
    -moz-column-gap: 32px;
    column-gap: 32px;
}

.footer__social {
    display: flex;
    -moz-column-gap: 24px;
    column-gap: 24px;
}

.footer__left-menu-link {
    text-decoration: none;
    color: #939caa;
    font-family: $primary-fonts;
}
